APP_ENV=production
MOCK_EXTERNAL_APIS=false

JIVO_API_URL=https://bot.jivosite.com
JIVO_PROVIDER_ID=replace_me
JIVO_BOT_TOKEN=replace_me

HOLLIHOP_DOMAIN=https://your-school.hollihop.ru/
HOLLIHOP_API_KEY=replace_me
RASA_URL=http://rasa:5005
REDIS_URL=redis://redis:6379/0

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=bot@example.com
ADMIN_EMAIL=
